<% include partials/header %>
<!--<h3>-->
<!--<%= user %>-->
<!--</h3>-->
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <% categories.forEach(function(category){ %>
            <% if(category.image){ %>
            <div class=" col-md-4 col-sm-6 img-box">
                <div class="img-responsive img-rounded thumbnail">
                    <a class="home_img" href="/category/<%= category._id %>">
                        <img id="home_img" src="<%= category.image %>">
                        <p class="jobs_tiles">
                            <%= category.title %>
                        </p>
                    </a>
                </div>
            </div>
            <% } %>
            <% }); %>
            <div class=" col-sm-12">
                <div class="thumbnail blogbox">
                    <div >
                        <h3 class="item-1">How To Crack SSC.</h3>
                        <p class="item-1">This is your last chance. After this, there is no turning back.</p>
                    </div>
                    <div >
                        <h3 class="item-2">How To Crack SSC.</h3>
                        <p class="item-2">You take the blue pill - the story ends, you wake up in your bed and believe
                        whatever you want to believe.</p>
                    </div>
                    <div >
                        <h3 class="item-3">How To Crack IBPS.</h3>
                        <p class="item-3">You take the red pill - you stay in Wonderland and I show you how deep the
                            rabbit-hole goes.</p>
                    </div>
                    <a class="btn btn-info btn-xs" href="/blogs">Know more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="fb-like" data-href="https://www.facebook.com/jobley.informer/" data-layout="standard"
                 data-width="310px" data-action="like" data-show-faces="true" data-share="true"></div>
            <h3 class="text-center current_opening">Current Openings</h3>
            <div class="list-group">
                <% categories.forEach(function(category){ %>
                <% if(category.title === 'Current Opening'){ %>
                <% category.jobs.forEach(function(job){ %>
                <a href="/category/<%= category._id %>/job/<%= job._id %>" class="list-group-item text-center ">
                    <%= job.title %>
                </a>
                <% }) %>
                <% } %>
                <% }) %>
                <a href="/category/5a4c8c6cbf4f742160c58a7f" class="list-group-item text-center list-group-item-info">
                    All Openings
                </a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>