<% include partials/header %>


<h1> <%= foundsubcategory.title %> Jobs </h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-condensed table-bordered">
                    <tr>
                        <th>Posted On</th>
                        <th>Posted By</th>
                        <th>Eligibility</th>
                        <th>Last Date</th>
                        <th>Job Location</th>
                        <th>More Details</th>
                    </tr>
                    <%
                        var cat = category._id;
                    %>
                        <% foundsubcategory.jobs.forEach(function(job){%>
                    <tr>
                        <td><span><%= job.created.toDateString()%></span></td>
                        <td><%=job.department %></td>
                        <td><%=job.eligibility %></td>
                        <td><span><%= job.lastDate %></span></td>
                        <td><%= job.jobLocation%></td>
                        <td><a href="/category/<%=category._id%>/job/<%=job._id %>">Know More.</a></td>
                    </tr>
                    <% }) %>
                </table>
                <button class="btn btn-dark">
                    <a href="/category/<%= category._id%>/job/new">Post More</a>
                </button>
            </div>
        </div>
    </div>
</div>


<% include partials/footer %>